span.stone-count {
    font-size: xx-large;
}

h1, h2, h3, .centered {
    text-align: center;
}

.large-pit {
    background-color: linen;
}

h1, h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.right-aligned {
    text-align: right;
    margin-right: 200px;
    margin-top: 20px;
}