<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>LV Kalaha</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="main.css"/>
</head>
<body>
<h1><span th:text="${appName}">App</span></h1>
<h2>Your turn: <span th:text="${activePlayer}">player2Name</span></h2>
<div>
    <form action="/turn" method="post">
         <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td rowspan="2" class="large-pit">
                            Large pit for player 1:
                            <br>
                            <span class="stone-count"
                                  th:text="${stoneCountList.get('player1-lp')}">
                                999
                            </span>
                        </td>
                        <td>
                            <span class="stone-count"
                                  th:text="${stoneCountList.get('player1-sp6')}">
                                999
                            </span>
                            <br>
                            <label class="btn btn-outline-secondary" th:hidden="${playerOneOptionsHidden}">
                                <input type="radio" name="pitId" value="player1-sp6"
                                       th:checked="${!playerOneOptionsHidden}">
                                Select
                            </label>
                        </td>
                        <td>
                            <span class="stone-count" th:text="${stoneCountList.get('player1-sp5')}">
                                999
                            </span>
                            <br>
                            <label class="btn btn-outline-secondary" th:hidden="${playerOneOptionsHidden}">
                                <input type="radio" name="pitId" value="player1-sp5">
                                Select
                            </label>
                        </td>
                        <td>
                            <span class="stone-count" th:text="${stoneCountList.get('player1-sp4')}">
                                999
                            </span>
                            <br>
                            <label class="btn btn-outline-secondary" th:hidden="${playerOneOptionsHidden}">
                                <input type="radio" name="pitId" value="player1-sp4">
                                Select
                            </label>
                        </td>
                        <td>
                            <span class="stone-count" th:text="${stoneCountList.get('player1-sp3')}">
                                999
                            </span>
                            <br>
                            <label class="btn btn-outline-secondary" th:hidden="${playerOneOptionsHidden}">
                                <input type="radio" name="pitId" value="player1-sp3">
                                Select
                            </label>
                        </td>
                        <td>
                            <span class="stone-count" th:text="${stoneCountList.get('player1-sp2')}">
                                999
                            </span>
                            <br>
                            <label class="btn btn-outline-secondary" th:hidden="${playerOneOptionsHidden}">
                                <input type="radio" name="pitId" value="player1-sp2">
                                Select
                            </label>
                        </td>
                        <td>
                            <span class="stone-count" th:text="${stoneCountList.get('player1-sp1')}">
                                999
                            </span>
                            <br>
                            <label class="btn btn-outline-secondary" th:hidden="${playerOneOptionsHidden}">
                                <input type="radio" name="pitId" value="player1-sp1">
                                Select
                            </label>
                        </td>
                        <td rowspan="2" class="large-pit">
                            Large pit for player 2:
                            <br>
                            <span class="stone-count" th:text="${stoneCountList.get('player2-lp')}">
                                999
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="stone-count"
                                  th:text="${stoneCountList.get('player2-sp6')}">
                                999
                            </span>
                            <br>
                            <label class="btn btn-outline-secondary" th:hidden="${playerTwoOptionsHidden}">
                                <input type="radio" name="pitId" value="player2-sp6"
                                       th:checked="${!playerTwoOptionsHidden}">
                                Select
                            </label>
                        </td>
                        <td>
                            <span class="stone-count" th:text="${stoneCountList.get('player2-sp5')}">
                                999
                            </span>
                            <br>
                            <label class="btn btn-outline-secondary" th:hidden="${playerTwoOptionsHidden}">
                                <input type="radio" name="pitId" value="player2-sp6">
                                Select
                            </label>
                        </td>
                        <td>
                            <span class="stone-count" th:text="${stoneCountList.get('player2-sp4')}">
                                999
                            </span>
                            <br>
                            <label class="btn btn-outline-secondary" th:hidden="${playerTwoOptionsHidden}">
                                <input type="radio" name="pitId" value="player2-sp4">
                                Select
                            </label>
                        </td>
                        <td>
                            <span class="stone-count" th:text="${stoneCountList.get('player2-sp3')}">
                                999
                            </span>
                            <br>
                            <label class="btn btn-outline-secondary" th:hidden="${playerTwoOptionsHidden}">
                                <input type="radio" name="pitId" value="player2-sp3">
                                Select
                            </label>
                        </td>
                        <td id="player2-sp2">
                            <span class="stone-count" th:text="${stoneCountList.get('player2-sp2')}">
                                999
                            </span>
                            <br>
                            <label class="btn btn-outline-secondary" th:hidden="${playerTwoOptionsHidden}">
                                <input type="radio" name="pitId" value="player2-sp2">
                                Select
                            </label>
                        </td>
                        <td id="player2-sp1">
                            <span class="stone-count" th:text="${stoneCountList.get('player2-sp1')}">
                                999
                            </span>
                            <br>
                            <label class="btn btn-outline-secondary" th:hidden="${playerTwoOptionsHidden}">
                                <input type="radio" name="pitId" value="player2-sp1">
                                Select
                            </label>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="centered">
                <input type="submit" value="Take turn" class="btn btn-primary btn-lg" />
            </div>
    </form>
</div>
</body>
</html>