<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>LV Kalaha</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="main.css" />
</head>
<body>
<h1>Welcome to <span th:text="${appName}">App</span>!</h1>
<div>
    <form action="/new-game" method="post">

        <div class="centered">
            <span class="w-25 p-3">Player 1 name:</span>
            <input type="text"
                   class="w-25 p-3"
                   id="player1Name"
                   name="player1Name"
                   placeholder="Enter the first player's name"
                   required>
            <span class="w-25 p-3">Player 2 name:</span>
            <input type="text"
                   class="w-25 p-3"
                   id="player2Name"
                   name="player2Name"
                   placeholder="Enter the second player's name"
                   required>
        </div>

        <div class="right-aligned">
            <input type="submit" value="Start new game" class="btn btn-primary btn-lg" />
        </div>
    </form>
</div>
</body>
</html>